
.custom-dropdown .dropdown-toggle {
    padding: 0.25rem 1.25rem;
    line-height: 1.25;
  }
  

  /* Custom styles for dark theme dropdown */
.custom-dropdown-menu {
  background-color: #1C1F28 !important; /* Card color */
  border: 1px solid #2D313A !important;
}

.custom-dropdown-menu .dropdown-item {
  color: #FFFFFF; /* Text color */
}

.custom-dropdown-menu .dropdown-item:hover {
  background-color: #16181F; /* Card hover color */
  color: #FFFFFF; /* Text color on hover */
}

.text-header-dropdown{
  color: #646c7a;
  font-size: 0.775rem; /* or any other desired size */
  padding-left: 10px;
}


.dropdown-item.active {
    background-color: #1ED66C !important;
    color: #000000 !important;
  }

/* Styles for icon-only dropdown buttons */
.icon-dropdown-btn.dropdown-toggle::after {
  display: none;
}

.icon-dropdown-btn {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
}