

.navbar-main{
    background-color: #141721 !important;
    height:80px !important;
    border-bottom: 0.25px solid #2e3947;
  }

  .custom-dropdown .dropdown-toggle {
    padding: 0.25rem 1.25rem;
    line-height: 1.25;
  }
  
