/* src/sidebar.css */

.bi {
    vertical-align: -.125em;
    font-size: 1rem; /* Default size for icons */
  }
  
  .bi-bootstrap {
    font-size: 1.5rem; /* Size for the brand icon */
  }
  
  main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .side-div{
    background-color: #1A2430 !important;
    width: 280px;
  }
  
  .nav-pills .nav-link.active {
    --bs-nav-pills-link-active-bg: #2d3b52; 
  }
  
  .wp_logo {
    height: 25px;
    width: auto;
    margin-top: 15px;
    margin-bottom: 30px;
  }