.base_component {
  background-color: #141721;
  height: 100vh;
  overflow: auto;
}

.wp_logo {
  height: 25px;
  width: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
}

.wp_logo_login {
  height: 100px !important;
  width: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
}

.logout_button {
  margin-left: 20px;
  margin-right: 20px;
}

.separator {
  border-top: 1px solid #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.admin-panel {
  height: auto;
  width: auto;
  margin-top: 20px;
}

.content {
  width: auto;
  height: auto;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}


.translucent_white{
  color: rgba(255,255,255,0.80) !important;
}

.translucent_white_more{
  color: rgba(255,255,255,0.50) !important;
}

.translucent_blue{
  color: rgba(134,171,242,1) !important;
}

.admin-title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: rgba(255,255,255,0.95);
}

.project-card {
  cursor: pointer;
}

.projects-row{
  padding-left: 15%;
  padding-right:15%
}

.project-card .card {
  width: 100%;
  aspect-ratio: 2; /* Aspect ratio to make height 90% of width */
  position: relative;
  transition: transform 0.2s;;
  margin-top:10px;
  background-color: #1A2430 !important;
}

.project-card .card:hover {
  transform: scale(1.015);
  background-color: #232F42 !important;
}

.add-project-card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.add-icon {
  font-size: 3rem; /* Adjust size as needed */
}

.add-text {
  margin-top: 10px;
  font-size: 1.25rem;
}

.card-title {
  margin-bottom: 5px;
}

.delete-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-primary {
  background-color: #428d4f !important;
  border-color: #428d4f !important;
}
