
.translucent_white{
    color: rgba(255,255,255,0.80) !important;
  }
  html, body, #root, .main-container {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.mt-3 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.grid-container {
    flex-grow: 1;
    width: 100%;
}


.badge-primary {
    background-color: #428d4f;
    color: white;
  }
  
  .badge-danger {
    background-color: #d9534f;
    color: white;
  }
  .badge-container {
    display: inline-flex;
    flex-direction: column;
  }
  
  .badge-secondary{
    background-color: #232F42;
    color: white;
  }

  .badge-important{
    background-color: #709b27;
    color: white;
  }

  .ag-cell {
    padding-left: 15px !important; /* Adjust the padding value as needed */
    padding-right: 5px !important; /* Adjust the padding value as needed */
    padding-top: 10px !important; /* Adjust the padding value as needed */
    padding-bottom: 10px !important; /* Adjust the padding value as needed */
    line-height: 1.3 !important; /* Adjust the line-height as needed */

}




.log-container {
  display: flex;
  flex-direction: column;
  height: 72vh; /* Make it take the full viewport height */
}

.log-viewer {
  flex-grow: 1; /* Make the log viewer take the remaining space */
}


.log-viewer .ReactVirtualized__Grid__innerScrollContainer {
  background-color: #101219 !important; /* Apply the darker color */
}

.bg_color_dark{
  background-color: #101219 !important;
}

.log-container .ReactVirtualized__Grid__innerScrollContainer {
  background-color: #101219 !important;
}

.grid-wrapper {
  display: flex;
  gap: 16px; /* Adds spacing between grids */
  justify-content: center; /* Centers the grids */
  align-items: flex-start;
  width: 100%;
  height: 100vh; /* Adjust height as needed */
}

.grid-container {
  flex: 1; /* Makes each grid take equal width */
  min-width: 45%; /* Prevents shrinking too much */
  height: 90vh; /* Adjust based on requirement */
}
