
[Unit]
Description=WaveAssist Engine Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
WorkingDirectory=/home/ubuntu/WaveAssistEngine/WavePredictEngine/
ExecStart=/bin/bash -c 'cd /home/ubuntu/WaveAssistEngine/WavePredictEngine/ && /home/ubuntu/WaveAssistEngine/waveassistenv/bin/python3 run_system_manager.py'

[Install]
WantedBy=multi-user.target
