Django==4.2
twisted==22.10.0
django-cors-headers==3.14.0
django-redis==5.2.0
numpy==1.21.5
pandas==2.0.3
pymongo[srv]==3.12.1
boto3==1.28.58
celery==5.5.3
django-celery-beat==2.8.1
django-redis==5.2.0
flower==2.0.1
whitenoise==6.0.0
gunicorn==22.0.0
graphviz==0.20.3
requests==2.34.2
python-dotenv==1.2.3
gunicorn==22.0.0
mysqlclient==2.2.7
firebase-admin==6.1.0
PyYAML==6.0.2
sendgrid==6.12.3
waveassist==0.8.12
postmarker==1.0
posthog==6.7.0
authlib==1.6.4



opentelemetry-distro==0.43b0
opentelemetry-exporter-otlp==1.22.0
opentelemetry-instrumentation-django==0.43b0
##Libraries
opentelemetry-instrumentation-mysqlclient==0.43b0
opentelemetry-instrumentation-pymongo==0.43b0
opentelemetry-instrumentation-requests==0.43b0
opentelemetry-instrumentation-redis==0.43b0
